{% extends 'base.html' %}
{% load static %}

{% load render_table from django_tables2 %}

{% block title %}
    {{ request.user }}
{% endblock %}
{% block content %}
<p>Hello {{ request.user }}</p>
<p><a href="{% url 'logout' %}">Logout</a></p>

<style type="text/css">
	.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border-top: 3px solid #d2d6de;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

</style>

	<div class="box box-default">
	<div class="box-body">

	        {% render_table ordermeal_table "custom/table.html" %}     
	</div>
	</div>
                        
  
{% endblock %}