{% load staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>
<body>

<div class="container">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li><a class="active" href="{% url 'home' %}">Home</a></li>
                                    <li><a href="{% url 'shop:product_list' %}">Menu</a></li>
                                    <!-- <li><a href="#services" class="scroll">Menu</a></li> -->
                                    <!-- <li><a href="#about" class="scroll">About</a></li>
                                    <li><a href="#contact" class="scroll">Contact</a></li>
                                    <li><a href="{% url 'login' %}" >SignUp/LogIn</a> -->
                                    </li>
                                </ul>
                        
                <div class="clearfix"> </div>                       
     </div>  

    <div class="panel panel-default">
        <div class="panel-heading">
            {# call __len__ #}
            {% with total_items=cart|length %}
                {% if cart|length > 0 %}
                    Your cart:
                    <a href="{% url "cart:cart_detail" %}">
                        {# If total_items is 1, the output will be 1 item. #}
                        {# If total_items is 2, the output will be 2 items. #}
                        {{ total_items }} item{{ total_items|pluralize }},
                        Rs.{{ cart.get_total_price }}
                    </a>
                {% else %}
                    Your Food cart is empty.
                {% endif %}
            {% endwith %}
        </div>
    </div>

    {% block content %}
    {% endblock %}
</div>
</body>
</html>