

{% load static %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

{% block title %}
Create a cook
{% endblock %}

{% block main_content %}
<div class="row">
    <div class="col-md-12">
        <form action="." method="post" class="form-horizontal">
            <div class="box box-primary">
                <div class="box-body">
                    {% csrf_token %}
                    {% crispy form %}
                </div>
                <div class="box-footer">
                    <a class="btn btn-default" href="{% url 'cook:cook_list' %}">
                        Cooks
                    </a>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock main_content %}
