{% load static %}

<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<head>
<title>Fresh Food a Hotel Category Bootstrap responsive Website Template | Home :: w3layouts</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords" content="Fresh Food a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

<!-- Default-JavaScript-File -->
	<script type="text/javascript" src="{% static "js/jquery-2.1.4.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
<!-- //Default-JavaScript-File -->

<link rel="stylesheet" href="{% static "css/easy-responsive-tabs.css" %}"><!-- easy responsive tabs css -->

<link rel="stylesheet" href="{% static "css/jquery-ui.css" %}" type="text/css" media="all"><!-- date-picker css-->

<!-- gallery -->
	<link href="{% static "css/lsb.css" %}" rel="stylesheet" type="text/css">
<!-- //gallery -->

<!-- banner text effect css files -->
    <link rel="stylesheet" type="text/css" href="{% static "css/demo.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/style3.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "css/normalize.css" %}" />
<!-- banner text effect css files -->

<!-- logo text effect css files -->
	<link rel="stylesheet" type="text/css" href="{% static "css/demo1.css" %}" />
	<link rel="stylesheet" type="text/css" href="{% static "css/linkstyles.css" %}" />
<!-- //logo text effect css files -->
	
<!-- default css files -->
	<link rel="stylesheet" href="{% static "css/bootstrap.css" %}" type="text/css" media="all">
	<link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" media="all">
	<link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" />
<!-- default css files -->
	
<!--web font-->
	<link href="//fonts.googleapis.com/css?family=Pacifico&amp;subset=latin-ext,vietnamese" rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i&amp;subset=cyrillic,latin-ext" rel="stylesheet">


	