{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <script src="{% static 'js/navbar-burger.js' %}"></script>
</head>
<body>
<nav class="navbar">
    <div class="navbar-brand">
       
        <div class="navbar-burger burger" data-target="nav-data">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
        <div class="navbar-menu" id="nav-data">
            <a href="/" class="navbar-item">Home</a>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                            <!-- <a href="{% url 'register' %}" class="button is-primary">
                                <span>SIGN UP</span>
                            </a> -->
                        </p>
                    </div>
                </div>
        </div>
    </div>

</nav>
{% block heading %}  {% endblock %}

{%  block content %}

{%  endblock %}
</body>
</html>