{% include 'dashboard/base_dashboard.html' %}
{% include 'dashboard/left-sidebar.html' %}
{% load static %}

<head>
	<style type="text/css">
		#demo1 , #demo2 {
			display:inline-block;
		}
	</style>
</head>

<body>
 	<div class="main-panel">
		{% include 'dashboard/nav-bar.html' %}

        <div class="content"> 
	        	<div class="message">
	                    {% for message in messages %}
	                        <div
	                     {% if message.tags == 'error' %}
	                         class="alert alert-danger alert-dismissible"
	                     {% else %}
	                             class="alert alert-{{message.tags}} alert-dismissible"
	                         {% endif %}
	                             >
	                             <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
	                             {{message}}
	                        </div>
	                    {% endfor %}
	        	</div>
       
			{% for obj in object_list %}
				
				{{obj.product}} &emsp; {{obj.quantity}} &emsp; {{obj.order.address}}
					&emsp; {{obj.price}} &emsp; 
					<div class="tab">
						{% if obj.status %}
						<form method="get" action="{% url 'orders:detail' obj.pk %}" id="demo1">
							
							<button
							class="btn btn-sm btn-primary"
							name="accept"
							value="{{ obj.pk }}"
							id="btnSubmit" 
							type="submit"
		   			 		<i class="fa fa-edit"></i>&nbsp; Detail
							</button>
						</form>
						{% else %}
						<form method="post" action="{% url 'orders:accept' %}" id="demo1">
							{% csrf_token %}
							<button
							class="btn btn-sm btn-primary"
							name="accept"
							value="{{ obj.pk }}"
							id="btnSubmit" 
							type="submit"
		   			 		<i class="fa fa-edit"></i>&nbsp; Accept
							</button>
						</form>
						{% endif %}
						<form method="post" action="{% url 'orders:remove' %}" id="demo2">
		            	{% csrf_token %}
		         			<button
							    class="btn btn-sm btn-danger"
							    name="remove"
							    value="{{ obj.pk }}"
							    
							    <i class="fa fa-times"></i>&nbsp; Reject
							</button>
		        		</form>
				</div>
				
			<br><br>
		{% endfor %}

		</div>	

</div>

	
</body>

