{% load custom_tags %}
{% load static %}

<div class="wrapper">
    <div class="sidebar" data-background-color="black" data-active-color="success">
    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="{% url 'myprofile' request.user.id %}" class="simple-text">
                    {{request.user}}
                </a>
            </div>

            <ul class="nav">
                <li class="active">
                    <a href="{% url 'dashboard' %}">
                        <i class="ti-panel"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'myprofile' request.user.id %}">
                        <i class="ti-user"></i>
                        <p>User Profile</p>
                    </a>
                </li>
                <li>
                    {% if not user_role.is_owner and not user_role.is_manager %}
                    <a href="{% url 'orders:myorders' %}">
                        <i class="ti-view-list-alt"></i>
                        <p>My Orders</p></a>
                    </a>
                    {% endif %}
                </li>
                <li>
                    {% if user_role.is_owner or user_role.is_manager %}
                    <a href="{% url 'orders:manage' %}">
                        <i class="ti-view-list-alt"></i>
                        <p>Manage Orders</p></a>
                    </a>
                    {% endif %}
                </li>
                <li>
                    {% if user_role.is_owner or user_role.is_manager %}
                    <a href="{% url 'cook:cook_list' %}">
                        <i class="ti-text"></i>
                        <p>Cook</p>
                    </a>
                    {% endif %}
                </li>
                <li>
                    {% if user_role.is_owner or user_role.is_manager %}
                    <a href="{% url 'orders:myorders' %}">
                        <i class="ti-view-list-alt"></i>
                        <p>Manage Menu</p></a>
                    </a>
                    {% endif %}
                </li>
                <li>
                    {% if user_role.is_owner or user_role.is_manager %}
                    <a href="{% url 'orders:myorders' %}">
                        <i class="ti-view-list-alt"></i>
                        <p>Delivery Team</p></a>
                    </a>
                    {% endif %}
                </li>
                <li>
                    {% if not user_role.is_owner and not user_role.is_manager %}
                    <a href="{% url 'orders:myorders' %}">
                        <i class="ti-view-list-alt"></i>
                        <p>My Favourites</p></a>
                    </a>
                    {% endif %}
                </li>
                <li>
                    <a href="maps.html">
                        <i class="ti-map"></i>
                        <p>Maps</p>
                    </a>
                </li> 
            </ul>
    	</div>
    </div>